@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $off-white;
  font-family: $source-sans;
  color: #FFF;
  button:focus {
    outline: $secondary;
  }
  input:focus {
    // outline-color: $gray;
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
}

#App {}