// FONTS
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
$abril-fatface: 'Abril Fatface', cursive;
$oswald: 'Oswald', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;

// COLORS
$off-white: #FCFCED;
$off-black: #23231A;
$gray: #b8b8b1;
$primary: #A4031F;
$primary-light: #FFC5C5;
$secondary: #FFC60A;
$secondary-light: #FFF6B6;